.footer-bg{
    background: rgba(16,17,19,1) ;
    background: linear-gradient(180deg, rgba(16,17,19,1) 5%, rgba(243,194,216,1) 15%, rgba(241,134,163,1) 40%, rgba(118,86,133,1) 80%);
    min-height: 50vh;
    font-family: 'Montserrat', sans-serif;;
}


@media only screen and (min-width: 768px) {
    .footer-bg{
        background: rgba(16,17,19,1) ;
        background: linear-gradient(180deg, rgba(16,17,19,1) 10%, rgba(243,194,216,1) 45%, rgba(241,134,163,1) 65%, rgba(118,86,133,1) 90%);
        min-height: 70vh;
        font-family: 'Montserrat', sans-serif;;
    }
}

.icons{
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.footer-icon{
    width: 30px;
    margin: 5px;
}

.footer-icon:hover{
    opacity: 60%;
}

.credits{
    display: flex;
    text-align: center;
    /* border: 5px coral solid; */
    justify-content: space-evenly;
}


.mountain{
    width: 100vw;
}