.spacer{
    display: none;
}

.bg{
    background: rgb(118,86,133);
    background: linear-gradient(180deg, rgba(118,86,133,1) 10%, rgba(241,134,163,1) 70%, rgba(243,194,216,1) 90%, rgba(16,17,19,1) 100%);
    width: 100vw;
    height: 100vh;
}

.mountain{
    position: absolute;
    width: 100vw;
    top: 65vh;
    z-index: 3;
}

.moon{
    position: fixed;
    left: 10vw;
    top: 15vh;
    z-index: 1;
}

.moon-big{
    display: none !important; 
}

.moon-small{
    display: inline-block !important;
}


@media only screen and (min-width: 500px) {
    .spacer{
        position: relative;
        z-index: 4;
        display: block;
        width: 100vw;
        height: 15vw;
    }

    .mountain{
        top: 60vh;
        z-index: 3;
    }

    .moon{
        position: fixed;
        left: 10vw;
        top: 20vh;
        z-index: 1;
    }


}

@media only screen and (min-width: 768px) {
    .spacer{
        height: 25vw;
    }

    .moon{
        position: fixed;
        left: 12vw;
        top: 30vh;
        z-index: 1;
    }

    .moon-big{
        display: inline-block !important;
    }
    
    .moon-small{
        display: none !important;
    }
}